/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky

font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;

*/



body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
}

/*-----------------------------------------------
NADPISY
-----------------------------------------------*/

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	margin: 0;
	color: #3e606b;
	font-weight: 700;
}

h1 {
	font-size: 52px;
	
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 18px;
	
}

a {
	font-family: 'Lora', serif;
	font-size: 18px;
}

/*-----------------------------------------------
HLAVIČKA
-----------------------------------------------*/

.hlavicka {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 170px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

/*-----------------------------------------------
MENU
-----------------------------------------------*/

.menu {
	display: flex;
	align-items: center;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 10px 15px;
}

.menu a {
	text-decoration: none;
	color: #242424;
}

.menu a:hover {
	background-color: #d2567d;
	color: white;
	padding: 10px 15px;
	border-radius: 20px;
}

/*-----------------------------------------------
SEKCE OBECNĚ
-----------------------------------------------*/

section {	
	padding: 80px 0;
}

.obsah {
	display: flex;
	max-width: 1100px;
	margin: auto;
	align-items: center;
}

/* -----------------------------------------------
HERO SEKCE
-----------------------------------------------*/

.hero {	
	background-image: url(images/cupcake.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	text-align: left;
}

.obsah-hero {
	margin: auto;
	max-width: 1100px;
	text-align: left;
	padding 0 40% 0 0;
}

.hero h1 {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 40%;
	color: white;
}

.hero p{
	font-size: 24px;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 0;
	margin-right: 40%;
}

/*-----------------------------------------------
TLAČÍTKA - Menu + Vítejte
-----------------------------------------------*/

.tlacitko {
	background-color: #f195b2;
	border: 0;
}

.tlacitko:hover,
.tlacitko:active {
	background-color: #d2567d;
}

.tlacitko a {
	display: block;
	text-decoration: none;
	color: white;
}

.nase-vyrobky {
	padding: 15px 40px;
	border-radius: 30px;
}

/*-----------------------------------------------
VÍTEJTE SEKCE
-----------------------------------------------*/

.vitejte img {
	border-radius: 5px;
	margin-left: 30px;
}

/*-----------------------------------------------
DNEŠNÍ NABÍDKA SEKCE
-----------------------------------------------*/

.dnesni-nabidka {
	background-color: #f0f0f0;
}

.obsah-dnesni-nabidka {
	display: flex;
	flex-wrap: wrap;	
	margin: auto;
}

.nadpis-sekce {
	display: inline;
	flex-basis: 100%;
}

.cela-nabidka {
	display: flex;	
}

.nabidka {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	flex-basis: 25%;
}

.nabidka img {
	border-radius: 5px 5px 0 0;
	width: 100%;
}

.prvni,
.druha,
.treti {
	margin-right: 30px;
}


.popis {
	padding: 20px;
}

/* -----------------------------------------------
NÁŠ PŘÍSTUP SEKCE
-----------------------------------------------*/

.nas-pristup img {
	border-radius: 5px;
	margin-right: 30px;
}

/*-----------------------------------------------
PATIČKA
-----------------------------------------------*/

footer {
	background-color: #303339;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
